# -----------------------------------
# OS / SYSTEM FILES
# -----------------------------------
.DS_Store
Thumbs.db

# -----------------------------------
# IDE / EDITOR SETTINGS
# -----------------------------------
.vscode/
*.code-workspace

# -----------------------------------
# PYTHON / DBT
# -----------------------------------
__pycache__/
*.pyc
.dbt/

# -----------------------------------
# JUPYTER NOTEBOOKS
# -----------------------------------
.ipynb_checkpoints/

# -----------------------------------
# TABLEAU
*.twb~
*.twbx~

# -----------------------------------
# TEMP / BACKUP FILES
# -----------------------------------
*.tmp
*.bak
